Source: SlidingHeap-Src
Version: 2.12-1
Section: Library
Priority: Optional
Maintainer: Alan Buckley <alan_baa@hotmail.com>
Standards-Version: 0.1.0
Licence: Free
Description: Create and manage a sliding heap of blocks of memory.
 This is the source package.

Package: SlidingHeap
Description: Create and manage a sliding heap of blocks of memory.
 This is the runtime package that just includes the sliding heap module and a BASIC library to use it.

Package: SlidingHeap-Dev
Description: Create and manage a sliding heap of blocks of memory.
 This is the developer package that includes the examples and documentation.
Depends: SlidingHeap
